Source: libaxrt-{RTABI}
Section: unknown
Priority: optional
Maintainer: deadwood <deadwood@uknown>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: http://www.axrt.org/

Package: libaxrt-{RTABI}
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: AxRuntime
Multi-Arch: same
