# Timeout for menu
set timeout=5

# Set default boot entry as native with fallback to VESA
set default=1

if [ "$grub_platform" = "efi" ]; then
    set bl_path="/@EFIDIR@/@BOOTDIR@/grub"
    test -e $bl_path
    insmod efi_gop
    insmod efi_uga
    set vesa_supported=false
    set bootstrap_flags="forceusbpower"
else
    set bl_path="/boot/grub"
    insmod vbe
    set vesa_supported=true
    bootstrap_flags=
fi

if loadfont $bl_path/fonts/unicode.pf2 ; then
    insmod gfxterm
    set gfxmode=640x480
    terminal_output gfxterm
    insmod png
    background_image $bl_path/splash.png
fi

menuentry "AROS TEST A (USB2 driver only)" {
    multiboot2 /boot/pc/bootstrap.gz vesa=1024x768 ATA=32bit $bootstrap_flags debug=serial
    module2 /boot/pc/kernel.gz
    module2 /boot/pc/Devs/battclock.resource
    module2 /boot/pc/Devs/processor.resource
    module2 /boot/pc/Devs/timer.device
    module2 /boot/pc/Libs/debug.library
    module2 /boot/pc/Libs/expansion.library
    module2 /Classes/USB/bootkeyboard.class
    module2 /Classes/USB/bootmouse.class
    module2 /Classes/USB/hubss.class
    module2 /Classes/USB/hub.class
    module2 /Classes/USB/hid.class
    module2 /Classes/USB/massstorage.class
    module2 /Devs/Drivers/hiddclass.hidd
    module2 /Devs/Drivers/gfx.hidd
    module2 /Devs/Drivers/inputclass.hidd
    module2 /Devs/Drivers/keyboard.hidd
    module2 /Devs/Drivers/mouse.hidd
    module2 /Devs/Drivers/ata_pci.hidd
    module2 /Devs/Drivers/i8042.hidd
    module2 /Devs/Drivers/vesagfx.hidd
    module2 /Devs/Drivers/vgagfx.hidd
    module2 /Devs/Drivers/pci.hidd
    module2 /Devs/Drivers/pcipc.hidd
    module2 /Devs/Drivers/power.hidd
    module2 /Devs/Drivers/serial.hidd
    module2 /Devs/Drivers/parallel.hidd
    module2 /Devs/Drivers/bus.hidd
    module2 /Devs/Drivers/storage.hidd
    module2 /Devs/Drivers/system.hidd
    module2 /Devs/Drivers/telemetry.hidd
    module2 /Devs/Drivers/acpiacad.hidd
    module2 /Devs/Drivers/acpibattery.hidd
    module2 /Devs/Drivers/acpifan.hidd
    module2 /Devs/Drivers/acpibutton.hidd
    module2 /Devs/Drivers/acpithermal.hidd
    module2 /Devs/Drivers/acpipowermeter.hidd
    module2 /Devs/Drivers/ipmi.hidd
    module2 /Devs/Drivers/smbios-ipmi.hidd
    module2 /Devs/USBHardware/pciusb.device
    module2 /Devs/usbromstartup.resource
    module2 /Devs/bootloader.resource
    module2 /Devs/dosboot.resource
    module2 /Devs/FileSystem.resource
    module2 /Devs/lddemon.resource
    module2 /Devs/efi.resource
    module2 /Devs/hpet.resource
    module2 /Devs/console.device
    module2 /Devs/input.device
    module2 /Devs/gameport.device
    module2 /Devs/keyboard.device
    module2 /Devs/ata.device
    module2 /Devs/ahci.device
    module2 /Devs/nvme.device
    module2 /L/afs-handler
    module2 /L/cdrom-handler
    module2 /L/sfs-handler
    module2 /L/fat-handler
    module2 /L/ram-handler
    module2 /L/con-handler
    module2 /Libs/acpica.library
    module2 /Libs/partition.library
    module2 /Libs/poseidon.library
    module2 /Libs/aros.library
    module2 /Libs/dos.library
    module2 /Libs/gadtools.library
    module2 /Libs/graphics.library
    module2 /Libs/intuition.library
    module2 /Libs/keymap.library
    module2 /Libs/layers.library
    module2 /Libs/oop.library
    module2 /Libs/utility.library
}

menuentry "AROS TEST B (USB3 driver only)" {
    multiboot2 /boot/pc/bootstrap.gz vesa=1024x768 ATA=32bit $bootstrap_flags debug=serial
    module2 /boot/pc/kernel.gz
    module2 /boot/pc/Devs/battclock.resource
    module2 /boot/pc/Devs/processor.resource
    module2 /boot/pc/Devs/timer.device
    module2 /boot/pc/Libs/debug.library
    module2 /boot/pc/Libs/expansion.library
    module2 /Classes/USB/bootkeyboard.class
    module2 /Classes/USB/bootmouse.class
    module2 /Classes/USB/hubss.class
    module2 /Classes/USB/hub.class
    module2 /Classes/USB/hid.class
    module2 /Classes/USB/massstorage.class
    module2 /Devs/Drivers/hiddclass.hidd
    module2 /Devs/Drivers/gfx.hidd
    module2 /Devs/Drivers/inputclass.hidd
    module2 /Devs/Drivers/keyboard.hidd
    module2 /Devs/Drivers/mouse.hidd
    module2 /Devs/Drivers/ata_pci.hidd
    module2 /Devs/Drivers/i8042.hidd
    module2 /Devs/Drivers/vesagfx.hidd
    module2 /Devs/Drivers/vgagfx.hidd
    module2 /Devs/Drivers/pci.hidd
    module2 /Devs/Drivers/pcipc.hidd
    module2 /Devs/Drivers/power.hidd
    module2 /Devs/Drivers/serial.hidd
    module2 /Devs/Drivers/parallel.hidd
    module2 /Devs/Drivers/bus.hidd
    module2 /Devs/Drivers/storage.hidd
    module2 /Devs/Drivers/system.hidd
    module2 /Devs/Drivers/telemetry.hidd
    module2 /Devs/Drivers/acpiacad.hidd
    module2 /Devs/Drivers/acpibattery.hidd
    module2 /Devs/Drivers/acpifan.hidd
    module2 /Devs/Drivers/acpibutton.hidd
    module2 /Devs/Drivers/acpithermal.hidd
    module2 /Devs/Drivers/acpipowermeter.hidd
    module2 /Devs/Drivers/ipmi.hidd
    module2 /Devs/Drivers/smbios-ipmi.hidd
    module2 /Devs/USBHardware/pcixhci.device
    module2 /Devs/usbromstartup.resource
    module2 /Devs/bootloader.resource
    module2 /Devs/dosboot.resource
    module2 /Devs/FileSystem.resource
    module2 /Devs/lddemon.resource
    module2 /Devs/efi.resource
    module2 /Devs/hpet.resource
    module2 /Devs/console.device
    module2 /Devs/input.device
    module2 /Devs/gameport.device
    module2 /Devs/keyboard.device
    module2 /Devs/ata.device
    module2 /Devs/ahci.device
    module2 /Devs/nvme.device
    module2 /L/afs-handler
    module2 /L/cdrom-handler
    module2 /L/sfs-handler
    module2 /L/fat-handler
    module2 /L/ram-handler
    module2 /L/con-handler
    module2 /Libs/acpica.library
    module2 /Libs/partition.library
    module2 /Libs/poseidon.library
    module2 /Libs/aros.library
    module2 /Libs/dos.library
    module2 /Libs/gadtools.library
    module2 /Libs/graphics.library
    module2 /Libs/intuition.library
    module2 /Libs/keymap.library
    module2 /Libs/layers.library
    module2 /Libs/oop.library
    module2 /Libs/utility.library
}

menuentry "AROS TEST C (USB2 and USB3 drivers)" {
    multiboot2 /boot/pc/bootstrap.gz vesa=1024x768 ATA=32bit $bootstrap_flags debug=serial
    module2 /boot/pc/kernel.gz
    module2 /boot/pc/Devs/battclock.resource
    module2 /boot/pc/Devs/processor.resource
    module2 /boot/pc/Devs/timer.device
    module2 /boot/pc/Libs/debug.library
    module2 /boot/pc/Libs/expansion.library
    module2 /Classes/USB/bootkeyboard.class
    module2 /Classes/USB/bootmouse.class
    module2 /Classes/USB/hubss.class
    module2 /Classes/USB/hub.class
    module2 /Classes/USB/hid.class
    module2 /Classes/USB/massstorage.class
    module2 /Devs/Drivers/hiddclass.hidd
    module2 /Devs/Drivers/gfx.hidd
    module2 /Devs/Drivers/inputclass.hidd
    module2 /Devs/Drivers/keyboard.hidd
    module2 /Devs/Drivers/mouse.hidd
    module2 /Devs/Drivers/ata_pci.hidd
    module2 /Devs/Drivers/i8042.hidd
    module2 /Devs/Drivers/vesagfx.hidd
    module2 /Devs/Drivers/vgagfx.hidd
    module2 /Devs/Drivers/pci.hidd
    module2 /Devs/Drivers/pcipc.hidd
    module2 /Devs/Drivers/power.hidd
    module2 /Devs/Drivers/serial.hidd
    module2 /Devs/Drivers/parallel.hidd
    module2 /Devs/Drivers/bus.hidd
    module2 /Devs/Drivers/storage.hidd
    module2 /Devs/Drivers/system.hidd
    module2 /Devs/Drivers/telemetry.hidd
    module2 /Devs/Drivers/acpiacad.hidd
    module2 /Devs/Drivers/acpibattery.hidd
    module2 /Devs/Drivers/acpifan.hidd
    module2 /Devs/Drivers/acpibutton.hidd
    module2 /Devs/Drivers/acpithermal.hidd
    module2 /Devs/Drivers/acpipowermeter.hidd
    module2 /Devs/Drivers/ipmi.hidd
    module2 /Devs/Drivers/smbios-ipmi.hidd
    module2 /Devs/USBHardware/pciusb.device
    module2 /Devs/USBHardware/pcixhci.device
    module2 /Devs/usbromstartup.resource
    module2 /Devs/bootloader.resource
    module2 /Devs/dosboot.resource
    module2 /Devs/FileSystem.resource
    module2 /Devs/lddemon.resource
    module2 /Devs/efi.resource
    module2 /Devs/hpet.resource
    module2 /Devs/console.device
    module2 /Devs/input.device
    module2 /Devs/gameport.device
    module2 /Devs/keyboard.device
    module2 /Devs/ata.device
    module2 /Devs/ahci.device
    module2 /Devs/nvme.device
    module2 /L/afs-handler
    module2 /L/cdrom-handler
    module2 /L/sfs-handler
    module2 /L/fat-handler
    module2 /L/ram-handler
    module2 /L/con-handler
    module2 /Libs/acpica.library
    module2 /Libs/partition.library
    module2 /Libs/poseidon.library
    module2 /Libs/aros.library
    module2 /Libs/dos.library
    module2 /Libs/gadtools.library
    module2 /Libs/graphics.library
    module2 /Libs/intuition.library
    module2 /Libs/keymap.library
    module2 /Libs/layers.library
    module2 /Libs/oop.library
    module2 /Libs/utility.library
}

